Repository 20001LastOrder/McGrill_App, pull requests merged in 2020-01, with the labels that each got.

#5 Add Swagger API Documentation configuration
  backend/package.json
  backend/server.js
  backend/swagger.json
  frontend/package-lock.json
  frontend/package.json
  frontend/public/favicon.ico
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/App.test.js
  frontend/src/components/campus.js
  frontend/src/components/issue.js
  frontend/src/components/linkbutton.js
  frontend/src/components/navbar.js
  frontend/src/components/signup.js
  frontend/src/index.css
  frontend/src/index.js
  frontend/src/logo.svg
  frontend/src/serviceWorker.js
  frontend/src/setupTests.js
  pull_request_template.md
Labels: backend, documentation

#7 Backend test template
  .travis.yml
  README.md
  backend/config.js
  backend/model/user.js
  backend/package-lock.json
  backend/package.json
  backend/route/user.js
  backend/server.js
  backend/tests/main.test.js
Labels: backend

#28 Sprint 1 Backend API Documentation (#25)
  backend/swagger.json
Labels: documentation
