Repository 20001LastOrder/McGrill_App, pull requests merged in 2020-02, with the labels that each got.

#35 Restaurant registration
  backend/model/restaurant.js
  backend/route/restaurant.js
  backend/server.js
  backend/tests/main.test.js
Labels: backend, sprint 1 week 1

#68 Menu Items in Restaurant
  backend/model/menuitem.js
  backend/model/restaurant.js
  backend/route/menuitem.js
  backend/route/restaurant.js
  backend/server.js
  backend/tests/main.test.js
Labels: backend, bug

#72 Update user models wenzong
  backend/.env
  backend/model/admin.js
  backend/model/campus.js
  backend/model/restaurant.js
  backend/model/restaurantowner.js
  backend/model/user.js
  backend/package-lock.json
  backend/package.json
  backend/route/admin.js
  backend/route/campus.js
  backend/route/menuitem.js
  backend/route/restaurantowner.js
  backend/route/user.js
  backend/server.js
  backend/tests/admin_test.js
  backend/tests/main.test.js
  backend/tests/menu_item_test.js
  backend/tests/owner_test.js
  backend/tests/user_test.js
  frontend/src/components/restaurant_signup.js
Labels: backend, enhancement

#78 Add a Get User By Email API
  backend/route/user.js
Labels: backend, enhancement

#80 Elie frontend
  frontend/src/App.js
  frontend/src/components/1.jpg
  frontend/src/components/burger.jpg
  frontend/src/components/profilesettings.js
  frontend/src/components/userorders.js
Labels: frontend

#117 Order Model, Create Order, View Resto Orders
  backend/model/order.js
  backend/model/restaurant.js
  backend/model/user.js
  backend/route/order.js
  backend/route/restaurant.js
  backend/server.js
Labels: backend, enhancement
